<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про нас</title>
</head>
<body>
<h1>Про нас</h1>
<img src="https://cdn-icons-png.flaticon.com/512/69/69544.png" width="75">
<h2>Наши Достижения</h2>
<img src="https://images.ua.prom.st/2547089213_kubok-sportivnyj-s.jpg" width="100">
<p>1.Более <b>10000</b> проданых рисунков</p>
<p>2.<b>9847</b> положительных отзыва</p>
<p>3.Опыт: <b>10</b> лет работы</p>
<p>4.<b>45</b> человек уже ождают работу</p>
<p>Вы можете заказать рисунок с описанием на почту.</p>
<b>Ccылка на контакты: http://127.0.0.1:5000/contacts</b>

</body>
</html>