<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our contacts</title>
</head>
<body>
<h1>Наши контакты:</h1>

<h3>Telegram</h3>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/800px-Telegram_2019_Logo.svg.png" width="50">
<p>@#########</p>
<h3>Instagram</h3>
<img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg" width="50">
<p>@#########</p>
<h3>Gmail</h3>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Gmail_Icon_%282013-2020%29.svg/2560px-Gmail_Icon_%282013-2020%29.svg.png" width="50">
<p>artemilinov15042011@amil.com</p>

</body>
</html>