<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Художник.com</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Про нас: http://127.0.0.1:5000/about</p>
    <p>Контакты: http://127.0.0.1:5000/contacts</p>
    <p>Заказать: http://127.0.0.1:5000/price</p>
    <p>F.A.Q: http://127.0.0.1:5000/faq</p>
    <img src="https://img.freepik.com/premium-vector/emoticon-head-cartoon-artist-mascot-cartoon-vector_193274-42048.jpg" width="200px" alt=":)">
    <h3>Спасибо за ваш выбор!</h3>
</body>
</html>