<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цены</title>
</head>
<body>
<h1>Цены</h1>
<img src="https://images.prom.ua/3386737975_w640_h640_kartina-mona-liza.jpg" width="200">
<p>Портрет: <b>500</b>грн.</p>
<img src="https://ds1.skrami.com/products/p957005_5df6215180744.jpg" width="200">
<p>Пейзаж: <b>250</b>грн.</p>
<img src="https://ireland.apollo.olxcdn.com/v1/files/j7m9du1o665n-UA/image;s=750x1001" width="200">
<p>Натюрморт: <b>300</b>грн</p>

</body>
</html>